.ui-btn-icon-left:after{
    right:.5625em;
}
.ui-btn-1m{
    height: 54px;
    background: #d49cc3;
    position: relative;
    padding: 0 60px;
    font-family: 'STSong',华文宋体;

}
.head-title{
    font-size: 20px;
    color: #fff;
    text-align: center;
    line-height: 54px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}

.meal-price{
    width: 50%;
    float: left;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.next-btn{
    width: 48%;
    float: right;
    background: #0088bb;
    color: #fff !important;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    text-align: center;

}
.btn-1m{
    background-color: red;
    margin: 10% 10%;
}
.next-btn{
    background-color: #d49cc3;
}
.ml-20{
    background-color: #d49cc3;
    margin: 5% 10%;
}
.red{
    color: red;
}
